

.status-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.progress {
  background: linear-gradient(90deg, #4caf50 10%, rgba(0,0,0,0) 10%) repeat-x;
  background-size: 20px 100%;
  height: 100%;
  transition: width 0.1s ease;
  position: relative;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.progress-text {
  display: false;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.in-process-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.in-process-button:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}

.reject-button, .approve-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reject-button {
  background-color: #f44336;
  color: white;
}

.approve-button {
  background-color: #4caf50;
  color: white;
}
.reset-button {
  display: false; 

}
.status p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
